:root {
    --font-size: 2rem;
    --padding: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: var(--padding);
}

header {
    display: flex;
}

input {
    font-size: var(--font-size);
    padding: var(--padding);
    width: 100%;
}
